<div class="container">
    <div>
        <select class="form-select" aria-label="Default select example">
        <option selected>Open this select menu</option>
        <option value="1">One</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
        </select>
    </div>
    <div>
        <a>總金額：</a>
        <a id="totalAmount">25600</a>
    </div>
    <div>
        <ul class="list-group">
  <a class="btn btn-light" href="#">新增支出</a>
  <li class="list-group-item">
    <div class="row">

      <div class="d-flex justify-content-between">
        <div>
            <span class="spend-all">
                <span class="spend-date">
                <a>午餐</a>
                <a>2022/08/22</a>
                </span>
            </span>
            <span>$100</span>
        </div>
        <div>
        <a class="btn btn-secondary" href="#">detail</a>
        <a class="btn btn-success" href="#">edit</a>
        <form action="#" method="POST" style="display: inline;">
          <button class="btn btn-danger" type="submit">delete</button>
        </form>
        </div>
      </div>
    </div>
  </li>


</ul>
    </div>

</div>
